<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}PHPWebsite{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        <link rel="stylesheet" href={{asset('css/bootstrap.min.css')}}/>
        <script src={{asset('js/bootstrap.bundle.min.js')}}></script>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <div>
      <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 shadow-sm fixed-top">
        <div class="container">
            <ul class="navbar-nav mb-2 mb-lg-0">
              <li class="nav-item">
                <a href={{url('index')}} class="nav-link" aria-current="page">
                  Home
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{url('productsAll', {page: 1})}}>
                  Produits
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href={{url('indexContact')}}>
                  Contact
                </a>
              </li>
            </ul> 
        </div>
      </nav>
    </div>
    <body>
          {% block body %}{% endblock %}
    </body>
    <footer class="fixed-bottom">
      <div class="py-3 bg-dark mt-4">
          <div class="container">
              <div class="row">
                  <div class="col-md-6 text-light">
                      <small>&copy; 2023 MyWebsite, Tous droits réservés</small>
                  </div>
                  <div class="col-md-6 text-light text-md-end">
                      <span>MyWebsite, Marque ton flow !</span>
                  </div>
              </div> 
          </div>
      </div>  
    </footer>
</html>
